doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="vendors/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/index.css")
    body
        ul
            li: a(href="http://gplus.to/oct8cat"): i.fa.fa-5x.fa-google-plus-square
            li: a(href="http://github.com/oct8cat"): i.fa.fa-5x.fa-github-square
            li: a(href="mailto:oct8cat@gmail.com"): i.fa.fa-5x.fa-envelope-square
            li: a(href="skype:oct8cat?call"): i.fa.fa-5x.fa-skype
